/* try to seperate some rules with style css */

/* want to extract many global rules as possible */

/* import fonds */

body {
    font-family: 'Inter', sans-serif;
}

/*
testing scrollbar costumizing, find it online that code.
worked as intended!
*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* grey */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}